<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

  <import resource="spring-datasource.xml"/>

  <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
    <property name="dataSource" ref="dataSource"/>
    <property name="mapperLocations" value="classpath*:mapper/*.xml"/>
    <property name="configurationProperties">
      <util:properties location="classpath:config.properties"/>
    </property>
  </bean>

  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="org.cboard.dao"/>
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
  </bean>

  <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
    id="transactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor"
    id="druid-stat-interceptor">
  </bean>

  <bean class="org.springframework.aop.support.JdkRegexpMethodPointcut" id="druid-stat-pointcut"
    scope="prototype">
    <property name="patterns">
      <list>
        <value>org.cboard.dao.*</value>
      </list>
    </property>
  </bean>

  <aop:config>
    <aop:advisor advice-ref="druid-stat-interceptor"
      pointcut-ref="druid-stat-pointcut"/>
  </aop:config>

  <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>